#_timeLine pre.markdown {
    padding: 10px;
}

#_timeLine pre.markdown ul {
    padding-left: 18px;
    list-style-type: disc;
    line-height: 0.8;
}

#_timeLine pre.markdown li {
    height: auto;
    margin: 5px 0;
    line-height: 0.8;
}

#_timeLine pre.markdown pre {
    background-color: #f7f7f7;
    padding: 10px;
}

#_timeLine pre.markdown code {
  font-family: Courier, Courier New, sans-serif;
}

